pytest==8.1.1
pytest-cov==5.0.0
bandit==1.7.7
pip-audit==2.7.3
opentelemetry-sdk==1.26.0
opentelemetry-instrumentation-flask==0.47b0
opentelemetry-instrumentation-requests==0.47b0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
setuptools==75.8.2
